<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });

    document.getElementById("btn").addEventListener("click", function onActionClick() {

        var userInfo = {};

        userInfo.lname = document.getElementById("lname").value;
        userInfo.fname = document.getElementById("fname").value;
        userInfo.mname = document.getElementById("mname").value;
        userInfo.app = document.getElementById("app").value;

        var oneName = document.getElementById("lname").value + " " + document.getElementById("fname").value + " " + document.getElementById("mname").value;
        userInfo.oneName = oneName;


        google.script.run.userClicked(userInfo);

        document.getElementById("lname").value = "";
        document.getElementById("fname").value = "";
        document.getElementById("mname").value = "";

        var selectApp = document.getElementById("app");
        selectApp.selectedIndex = 0;
        M.FormSelect.init(selectApp);

    });

    document.getElementById("btn1").addEventListener("click", function () {
        google.script.run.justClick("hi");
    });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
